:root{
    --padding: 0 5% 0 5%;
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root{
    --color: black;
    --red: darkred;
    --skeleton-bg-1: hsl(200, 20%, 90%);
    --skeleton-bg-2: hsl(200, 20%, 80%);
    --bg-button: #0F172A;
    --bg-body: #fff;
    --color-btn: white;
    --bg-btn-dropdown-hover: rgba(126, 126, 126, 0.12);
    --outline-color: black;
    --border-color: rgb(66, 66, 66)
  }
}
@media (prefers-color-scheme: dark) {
  :root{
    --color:white;
    --red: red;
    --skeleton-bg-1: hsl(200, 0%, 15%);
    --skeleton-bg-2: hsl(200, 0%, 25%);
    --bg-button: white;
    --bg-body: black;
    --color-btn: black;
    --border-color: rgb(66, 66, 66);
    --bg-btn-dropdown-hover: rgba(126, 126, 126, 0.3);
    --outline-color: #d4d4d8;
  }
}
body[theme=light]{
    --color: black !important;
    --red: darkred !important;
    --skeleton-bg-1: hsl(200, 20%, 90%) !important;
    --skeleton-bg-2: hsl(200, 20%, 80%) !important;
    --bg-button: #0F172A;
    --bg-body: #fff !important;
    --color-btn: white !important;
    --bg-btn-dropdown-hover: rgba(126, 126, 126, 0.12) !important;
    --outline-color: black !important;
    --border-color: rgb(66, 66, 66) !important;
}
body[theme=dark]{
    --color:white !important; 
    --red: red !important;
    --skeleton-bg-1: hsl(200, 0%, 15%) !important;
    --skeleton-bg-2: hsl(200, 0%, 25%) !important;
    --bg-button: white !important;
    --bg-body: black !important;
    --color-btn: black !important;
    --border-color: rgb(66, 66, 66) !important;
    --bg-btn-dropdown-hover: rgba(126, 126, 126, 0.3) !important;
    --outline-color: #d4d4d8 !important;
}

html,
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-body);
    overflow: hidden;
}
.flex {
    display: flex;
}
button{
    gap: 60px;
    padding: 8px 12px;
    background-color: var(--bg-button);
    border-radius: 6px;
    border: 1.5px solid var(--border-color);
    color: var(--color-btn);
    align-items: center;
    flex-direction: row;
}
button[active]{
    outline: 2px solid var(--outline-color);
}
button[focus]:focus{
    outline: 2px solid var(--outline-color);
    outline-offset: 2px;
}
button[bg=off]{
    color: var(--color);
    background: var(--bg-body);
}
button[border=none]{
    border: none;

}
header{
    position: fixed;
    height: 55px;
    width: 100%;
    box-sizing: border-box;
    padding: var(--padding);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    background: var(--bg-body);
}

#changeCountdowns{
    position: relative;
}
#counts-btn span{
    max-width: 175px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.dropdown{
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    border: 1.5px solid var(--border-color);
    border-radius: 8px 4px;
    padding: 8px;
    gap: 3px;
    background: var(--bg-body);
    z-index: 1001;
}
.dropdown button{
    width: 100%;
}
.dropdown button:hover{
    background: var(--bg-btn-dropdown-hover);
}
#counts-menu{
    top: calc(100% + 5px);
    right: 0px;
}
.center {
    /* font-family: "Xanh Mono"; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    gap: 10px;
    padding: var(--padding);
    box-sizing: border-box;
}
#countdown_label, #countdown_label > span{
    font-weight: 500;
    color: var(--red);
    font-size: clamp(12px, 7.5vw, 60px);
    width: 85%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    min-height: clamp(30px, 7.1vw, 80px);
}
#countdown_label .skeleton__anim, #countdown_label .skeleton{
    width: 90%;
}
.count_name {
    color: var(--color);
    text-align: center;
    font-size: clamp(5px, 4dvw, 35px);
}

#countdown{
    width: 100%;
}
.counter-block{
    text-align: center;
    min-width: 10%;
}
.countdown_stackpanel {
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.countdown_stackpanel>div {
    position: relative;
    flex-direction: column;
    gap: 12px;
    height: clamp(20px, 15dvw, 220px);
}
.countdown_stackpanel>div .skeleton__anim, .countdown_stackpanel>div .skeleton{
    width: 110%;
    left: -5%;
    height: clamp(20px, 15dvw, 220px);
}
.countdown_stackpanel .counter {
    min-height: clamp(20px, 15vw, 250px);
    color: var(--color);
    font-size: clamp(20px, 12vw, 200px);
}
.countdown_stackpanel div:last-child>.counter {
    color: var(--red);
}
.dot{
    display: block;
    /* transform: translateY(-2%); */
}
.skeleton, .skeleton__anim {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--skeleton-bg-1);
    border-radius: 12px;
}
.skeleton__anim{
    animation: 1s skeleton-loading ease-in-out infinite alternate;
}
@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-bg-1);
    }
    100% {
        background-color: var(--skeleton-bg-2);
    }
}
